---
import SmoothScroll from '../components/SmoothScroll.jsx';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <SmoothScroll client:load>
      <slot />
    </SmoothScroll>
  </body>
</html>
