---
import "../styles/global.css";
import SmoothScroll from '../components/SmoothScroll.jsx';
import MagicMouse from '../components/MagicMouse.jsx'

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body>
    <SmoothScroll client:load>
      <slot />
    </SmoothScroll>
    <MagicMouse client:only="react" />
  </body>
</html>
